*{
    margin: 0;
    padding: 0;
    background-color: rgb(193, 169, 136);
    box-sizing: border-box;
}

.wrapper{
    position: absolute;
    top: 0;
    width: 600px;
    height: 550px;
    padding: 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    margin-left: 250px;
    margin-top: 120px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(133, 122, 122, 0.5);
    justify-content: center;
    align-items: center;
}
 .field-group{
     width: 100%;
     height: 90px;
}
img{
    width: 500px;
    height: 725px;
    margin-left:70% ;
    /* margin-right: 10px; */
    opacity: 0.6;
}
input{
    margin-top: 15px;
    width: 500px;
    height: 45px;
    border-radius: 8px;
}
button{
    border-radius: 20px;
    height: 45px;
    width: 120px;
    box-shadow: 0px 2px 6px  #563924;
    background-color: #5c534ddb;
    color: antiquewhite;
    margin-top: 35px;
    cursor: pointer;
}
h1{
    font-size: 40px;
    padding-bottom: 25px;
    color: #4e4c4b;
}
label{
    color: #2d2c2b;
    font-size: 18px;
    font-weight: bold;
}

