.background-image {
    background-image: url('./Main image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    /* mix-blend-mode: multiply; */
    opacity: 0.8;
    filter: blur(2px);
}

.logo-block {
    width: 65px;
    height: 60px;
    border: 1px solid rgb(125, 160, 190);
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;

}

.L-block {
    display: flex;
    /* justify-content: flex;*/
    background: #EEEEEE;
    background-blend-mode: lighten;
    height: 68px;
    border-bottom: 1px solid rgb(199, 198, 198);

}

.title-block {
    margin-top: -4.5%;
    margin-left: 30%;
}

.title-block p {
    font-family: 'Luxurious Script';
    font-size: 60px;
    font-weight: 400;
    color: rgb(44, 44, 44);
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);

}

.content-field {
    background-color: #eeeeee7d;
    /* margin-right: 80%; 
    margin-top: 2%;
    width: 300px;
    height: 500px;
    padding: 50px;
    box-sizing: border-box;*/
    position: absolute;
    margin-left: 500px;
    margin-top: 5%;
    width: 250px;
    height: 500px;
    top: 20px;
    left: 50px;
    backdrop-filter: blur(1px);
    /* background: rgba(255, 255, 255, 0.174); */
    box-shadow: 0px 4px 5px #575454;
    border-radius: 5px;
}


.content-field li {
    list-style: none;
}

.content-field li a {
    padding: 5px 5px;
    text-decoration: none;
}
