.background-image {
    background-image: url('./image/Main\ image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    /* mix-blend-mode: multiply; */
    opacity: 0.8;
    filter: blur(2px);
}

.logo-block {
    width: 65px;
    height: 60px;
    border: 1px solid rgb(125, 160, 190);
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;

}

.L-block {
    display: flex;
    /* justify-content: flex;*/
    background: #EEEEEE;
    background-blend-mode: lighten;
    height: 68px;
    border-bottom: 1px solid rgb(199, 198, 198);

}

.title-block {
    margin-top: -4.5%;
    margin-left: 30%;
}

.title-block p {
    font-family: 'Luxurious Script';
    font-size: 60px;
    font-weight: 400;
    color: rgb(44, 44, 44);
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);

}

.content-field {
    background-color: #eeeeee7d;
    /* margin-right: 80%; 
    margin-top: 2%;
    width: 300px;
    height: 500px;
    padding: 50px;
    box-sizing: border-box;*/
    position: absolute;
    margin-left: 50px;
    margin-top: 10%;
    width: 300px;
    height: 500px;
    top: 2%;
    left: 0;
    backdrop-filter: blur(0.5px);
    /* background: rgba(255, 255, 255, 0.174); */
    box-shadow: 6px 8px 15px #575454;
    border-radius: 5px;
    box-sizing: border-box ;
    border: 1px solid black;
  
}


.content-field li {

    list-style: none;
    
  
   
}

ul{
    margin-left: -35px;
    margin-top: 50px;
}

.content-field li a {
    
    text-decoration: none;
    font-size: 35px;
    color: #875c3e;
    line-height: 3;
    /* border-bottom: 1px solid #875c3e; */
    
}
a:hover{
    background-color: #875c3e7c;
}
li img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#block{
    position: relative;

}






/*.container
{
    
    width: 100%;
    /* min-height: 100vh; 
    padding: 10px;
    box-sizing: border-box;
    
    
 }*/
.todo-app{
    position: absolute;
    top: 10%;
    left: 40%;
    width: 100%;
    margin-bottom: 100px;
    max-width: 540px;
    background: #a9907e9d;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    /* border: 1px solid black; */
    border-radius: 20px;
}
.todo-app h2{
    color: #0b0a09;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
}
.todo-app h2 img{
    width: 70px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;

}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #A9907E;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.todo-app ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../todolist/image/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

.todo-app ul li.checked{
    color: #555;
    text-decoration: line-through;
}
.todo-app ul li.checked::before{
    background-image: url(../todolist/image/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}

























