* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-image {
    background-image: url('./image/Main\ image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    /* mix-blend-mode: multiply; */
    opacity: 0.8;
    filter: blur(2px);
}

.logo-block {
    width: 65px;
    height: 60px;
    border: 1px solid rgb(125, 160, 190);
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;

}

.L-block {
    display: flex;
    justify-content: flex;
    position: relative;
    background: #EEEEEE;
    background-blend-mode: lighten;
    height: 68px;
    border-bottom: 1px solid rgb(199, 198, 198);
}

.title-block {
    position: absolute;
    right: 50%;
    /* margin-top: -4.5%; */
    /* margin-left: 30%; */
}

.title-block p {
    font-family: 'Luxurious Script';
    font-size: 60px;
    font-weight: 400;
    color: rgb(44, 44, 44);
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);
}

.button-block {
    position: absolute;
    right: 20px;

}

.des-block{
    position: absolute;
    top: 20%;
    margin-left:30%;
    padding: 2%;
    width: 970px;
    height:500px;
    backdrop-filter: blur(8px); 
    background: #99786140; 
    background-image: url('./image/butterfly.png');
    background-size: 40%;
    background-position: left bottom;
    background-repeat: no-repeat;
    box-shadow: 8px 8px 15px 1px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    box-sizing: border-box ;
    
}
.des-block h2{
    font-size: 45px;
    font-family: 'Marck Script';
    font-weight: lighter;
    color: #423c37;
    text-shadow: #6b6056 3px 0 8px;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-left: 10%;
    


}
.des-block p{
    font-size: 22px;
    margin-top: 2%;
    margin-left: 30%;
    font-family: "Montaga";
    font-weight: bolder;
    color: #4d4640;
    text-decoration: underline #46403a;

}

.des-block ul{
    margin-top: 3%;
    margin-left: 35%;
  
    
    

    
}
.des-block li{
    font-size: 20px;
    font-weight: 800;

    font-family: "Montaga";
    color: #4d4640;
    line-height: 40px;
    text-align: justify;
    

    /* text-decoration: underline solid rgb(86, 55, 55); */

    
}

.content-field {
    background-color: #eeeeee7d;
    position: absolute;
    margin-left: 50px;
    margin-top: 10%;
    width: 300px;
    height: 550px;
    top: 2%;
    left: 0;
    backdrop-filter: blur(0.5px);
    /* background: rgba(255, 255, 255, 0.174); */
    box-shadow: 6px 8px 15px #575454;
    border-radius: 5px;
    box-sizing: border-box ;
    border: 1px solid black;
  
}


.content-field li {
    list-style: none;
}

ul{
    /* margin-left: -35px; */
    margin-top: 50px;
}

ul li {
    padding: 0;
}

.content-field li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    color: #875c3e;
    line-height: 3;
    /* border-bottom: 4px solid #875c3e; */
    
}
a:before{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 6px;
    transition: width 0.1s ease-in-out;
    background: #664630;
}
a:hover:before{
    width: 80%;
}

li img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}

#block{
    position: relative;

}







/*.container
{
    
    width: 100%;
    /* min-height: 100vh; 
    padding: 10px;
    box-sizing: border-box;
    
    
 }*/
.todo-app{
    position: absolute;
    top: 10%;
    left: 40%;
    width: 100%;
    margin-bottom: 100px;
    max-width: 540px;
    background: #a9907e9d;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    /* border: 1px solid black; */
    border-radius: 20px;
    box-shadow: 0px 5px 10px  #563924;
}
.todo-app h2{
    color: #634b34;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
}
.todo-app h2 img{
    width: 70px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;

}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #A9907E;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0px 2px 6px  #563924;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.todo-app ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../todolist/image/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

.todo-app ul li.checked{
    color: #555;
    text-decoration: line-through;
}
.todo-app ul li.checked::before{
    background-image: url(../todolist/image/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}

/*notes*/
.container{
    position: absolute;
    top: 20%;
    left:35%;
    box-sizing: border-box;
    width: 55%;
    min-height: 50vh;
    background-color: #a9907e96;
    border-radius: 30px;
    box-shadow: 0px 5px 10px  #563924;
    color: #fff;
    padding-left: 10%;
}
.container h1{
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    color: #4d4640;
    
}
.container button img{
    width: 30px;
    margin-right: 8px;
}
.container h1 img{
    width: 90px;
    
}
.container button{
    display: flex;
    align-items: center;
    background: #A9907E;
    color: #151414;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius:40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
    box-shadow: 0px 5px 10px  #563924
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 600px;
    min-height: 200px;
    background-color: rgba(98, 92, 83, 0.579);
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px  #563924
}
.input-box img{
    width: 40px;
    position: absolute;
    cursor: pointer;
    bottom: 15px;
    right: 15px;

}


#pop-up{
    margin-left: 2%;
    width: 130px;
    height: 30px;
    padding: 5px;
    color: black;
    font-weight: bolder;
}






















