/* Styles for the popup box */
.popup-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.664);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top:50%;
  left: 35%;
  transform: translate(-50%, -50%);
  background: #eadcd1e3;
  padding: 20px;
  width: 1000px;
  height: 800px;
  /* text-align: center; */
  border-radius: 10px;
}
.close {
  position: absolute;
  top: 30px;
  right: 10px;
  color: rgb(8, 7, 7);
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}


.box{
  margin-top: 6%;
}
.content{
  height: 600px;

  overflow: hidden;
  position: relative;
}

.images img{
  height: 600px;
  width:450px;
  margin-left: 27%;
  
}

.content .slide-left {
  position:absolute;
  top:45%;
  transform: translate(-50);
  font-size: 100px;
  color:  rgb(80, 73, 52);
  cursor: pointer;
  opacity: 0.8;

}
.content .slide-right {
  position:absolute;
  margin-left: 93%;
  top:45%;
  transform: translate(-50);
  font-size: 100px;
  color:  rgb(80, 73, 52);
  cursor: pointer;
  opacity: 0.8;

}