
.logo-block {
    width: 65px;
    height: 60px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;

}

.L-block {
    display: flex;
    background: rgb(237, 240, 240);
    background-blend-mode: lighten;
    height: 68px;
    border-bottom: 1px solid rgb(199, 198, 198);
}



.title {
    font-family: 'Luxurious Roman', cursive;
    padding: 15px;
    line-height: 2;
    opacity: 0.6;
}

.title h2 {
    margin-top: 10%;
    font-size: 2.5rem;
}

.title h3 {
    font-size: 1.5rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
}

.title p {
    font-family: 'Poly', serif;
    margin-top: 150px;
    text-align: right;
    width: 86%;
    margin-left: 25px;
}

.title-block {
    margin-top: -4.5%;
    margin-left: 30%;
}

.title-block p {
    font-family: 'Luxurious Script';
    font-size: 60px;
    font-weight: 400;
    color: rgb(44, 44, 44);
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);

}

.form-field input{
    margin-left: 30px;
}

.form-field{
    display: flex;
}
form input {
    flex: 1;
    height: 35px;
    width: 350px;
    padding-left: 10px;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.403);
}

.form-btn {
    border-radius: 24px;
    height: 35px;
    width: 100px;
    margin-left: 8px;
    border: none;
    background-color: #d6ae9185;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.442);
    cursor: pointer;

}

.loginBtn{
    
    border-radius: 24px;
    height: 35px;
    width: 100px;
    margin-left: 8px;
    border: none;
    background-color: #d6ae9185;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.442);
    cursor: pointer;


}

.button-block {
    margin-left: auto;
    margin-right: 3%;
    margin-top: 23px;
}

.btn {

    background: #bac4c4ea;
    padding: 8px 15px;
    border: 1px solid #909b9b;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 200;
    font-family: 'Poppins';
    color: rgba(50, 49, 49, 0.753);
}

.btn:hover {
    background-color: #4b52529c;
}

#H-block {
    position: relative
}

.background-image {
    background-image: url('./Main\ image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    /* mix-blend-mode: multiply; */
    opacity: 0.8;
    filter: blur(2px);


}

.log-block {
    position: absolute;
    margin-left: 250px;
    margin-top: 30px;
    width: 550px;
    height: 650px;
    top: 20px;
    left: 550px;
    backdrop-filter: blur(1px);
    background: rgba(255, 255, 255, 0.174);
    box-shadow: 0px 4px 30px #575454;
    border-radius: 24px;

}

/* .form-field a {
    text-decoration: none;
    margin-left: 80%;
    /* box-sizing: border-box; 
    border: 1px solid burlywood;
    

} */

 